*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header,main,footer{
    width: 1874px;
}
.header-top{
    width: 1874px;
    height: 56px;
}
.headertop-1{
    width: 140px;
    height: 56px;
    float: left;
    margin-left: 385px;
}
.headertop1-1{
    width: 36px;
    height: 56px;
    float: left;
}
.headertop1-1>img{
    margin-top: 10px;
}
.headertop1-2{
    width: 84px;
    height: 56px;
    float: left;
    margin-left: 10px;
}
.headertop1-2>h1{
    width: 84px;
    height: 56px;
    font-size: 22px;
    line-height: 56px;
    text-align: center;
}
.headertop2{
    width: 840px;
    height: 56px;
    float: left;
}
.headertop2>li{
    width: 140px;
    height: 56px;
    float: left;
    position: relative;
}
.headertop2>li>a{
    display: block;
    width: 140px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: black;
}
.headertop2>li>a:hover{
    width: 140px;
    height: 356px;
    color: green;
}
.headertop3{
    width: 180px;
    height: 56px;
    float: left;
    margin-left: 50px;
}
.headertop3>input{
    width: 180px;
    height: 35px;
    border:1px solid gray;
    border-radius: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    outline: none;/* 消除input边框 */
}
/* 给li加定位 */

.dropdown{
    width: 140px;
    height: 300px;
    top: 56px;
    left: 0;
    position: absolute;
    background-color: white;
    display: none;
    z-index: 11;
}
.dropdown>a{
    display: block;
    width: 140px;
    height: 49px;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 14px;
    line-height: 49px;
    text-align: center;
}
.dropdown>a:last-child{
    border-bottom: none;
}
.header-bot{
    width: 1874px;
    height:78px;
    background-color: #99cc33;
}
.header-bot>h1{
    font-size: 38px;
    line-height: 78px;
    color: white;
    margin-left: 380px;
}
.main-header{
    width: 1874px;
    height: 250px;
    background-color: #f6f6f6;
    position: relative;
}
.main-header>h1{
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    top: 78px;
    left: 790px;
}
.main-header>p{
    width: 400px;
    position: absolute;
    top: 140px;
    left: 720px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: gray;
}
.main-mid{
    width: 1874px;
    height: 50px;
    background-color: #f6f6f6;
}
.main-mid>ul{
    width: 650px;
    height: 35px;
    margin-left: 620px;
}
.main-mid>ul>a{
    width: 122px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color:#a1cd33;
    float: left;
    margin-left: 8px;
    color: white;
    position: relative;
    cursor: pointer;
}
#a1,#a2,#a3,#a4,#a5{
    width: 10px;
    height: 35px;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.main-bot{
    width: 1874px;
    height: 620px;
    background-color:#f6f6f6 ;
}
.grid{
    width: 1167px;
    height: 530px;
    margin-left: 355px;
}
.grid .element-item{
   width: 389px;
   height: 265px;
   float: left;
   position: relative;
}
.grid .element-item>img{
    width: 100%;
}
.grid-box{
    width: 379px;
    height: 255px;
    background-color: white;
    position: absolute;
    top: 5px;
    left:5px ;
    opacity: 0.8;
     display: none;
} 
.grid-box-1{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 142px;
}
.grid-box-1>li{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    
}
.grid-box-1>li>img{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.grid-box-1>li:last-child{
    margin-left: 15px;
}
.grid-box>h1{
    font-size: 18px;
    width: 379px;
    line-height: 18px;
    text-align: center;
    margin-top: 30px;
}
.grid-box>p{
    margin-top: 20px;
    width: 389px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}
.element-item >.grid-box.active{
    display: block;
}
.footer-bot{
    width: 1874px;
    height: 506px;
}
.footer-bot-1{
    width: 1874px;
    height: 420px;
    background-color: #282828;
}
.footer-bot-1-1{
    width: 260px;
    height: 420px;
    float: left;
    margin-left: 382px;
}
.footer-bot-1-1>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-1>p{
    font-size: 16px;
    color: gray;
    line-height: 25px;
    margin-top: 36px;
}
.footer-bot-1-1>span{
    display: block;
    font-size: 16px;
    color: gray;
    line-height: 25px;
    margin-top: 26px;
}
.footer-bot-1-1>ul{
    width: 200px;
    height: 35px;
    margin-top: 15px;
}
.footer-bot-1-1>ul>a{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #99cc33;
}
.footer-bot-1-1>ul>a>img{
   width: 25px;
   height: 25px;
  margin-top: 5px;
  margin-left: 5px;
}
.footer-bot-1-2{
    width: 260px;
    height: 420px;
    float: left;
    margin-left: 40px;
}
.footer-bot-1-2>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-2>p{
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 30px;
}
.footer-bot-1-2>span{
    display: block;
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 30px;
}
.footer-bot-1-3{
    width: 260px;
    height: 420px;
    float: left;
   margin-left: 30px;
}
.footer-bot-1-3 img{
    width: 100%;
}
.footer-bot-1-3>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-3-1{
    width: 249px;
    height: 73px;
    margin-top: 30px;
}
.footer-bot-1-3-1>li{
    width: 73px;
    height: 73px;
    margin-right: 10px;
    background-color: pink;
    float: left;
}
.footer-bot-1-3-2{
    width: 249px;
    height: 73px;
    margin-top: 30px;
}
.footer-bot-1-3-2>li{
    width: 73px;
    height: 73px;
    margin-right: 10px;
    background-color: pink;
    float: left;
}
.footer-bot-1-4{
    width: 260px;
    height: 420px;
    float: left;
    margin-left: 40px;
}
.footer-bot-1-4>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-4>p{
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 30px;
}
.footer-bot-1-4 input:focus{/* input focus时边框 蓝色消失*/
    outline: none;
}
.footer-input{
    width: 253px;
    height: 37px;
   color: white;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    margin-top: 21px;
}
.footer-input1{
    width: 253px;
    height: 37px;
   color: white;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    margin-top: 15px;
}
.footer-bot-1-4>a{
    display: block;
    width: 105px;
    height: 30px;
    background-color: #98ca33;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-top: 15px;
}
.footer-bot-2{
    width: 1874px;
    height: 86px;
    background-color:#1d1d1d;
}
.footer-bot-2>span{
    width: 440px;
    height: 86px;
    float: left;
    height: 14px;
    line-height: 86px;
    text-align: center;
    color: gray;
    margin-left: 365px;
}
.footer-bot-2>span>mark{
    background-color:#1d1d1d;
    color: #98ca33;
}
.footer-bot-2-1{
    width: 400px;
    height: 86px;
    float: left;
    margin-left: 400px;
}
.footer-bot-2-1>p{
    float: left;
    font-size: 15px;
    line-height: 86px;
    text-align: center;
    margin-right: 11px;
    color: gray;
}
.footer-bot-2-2{
     width: 36px;
     font-size: 36px;
     float: left;
     margin-left: 200px;
}
.footer-bot-2-2>a{
    display: block;
    width: 36px;
    height: 36px;
    background-color:#98ca33;
    color: white;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    transform: rotate(-90deg);
    margin-top: 25px;
}
.footer-bot{
    width: 1874px;
    height: 506px;
}
.footer-bot-1{
    width: 1874px;
    height: 420px;
    background-color: #282828;
}
.footer-bot-1-1{
    width: 260px;
    height: 420px;
    float: left;
    margin-left: 382px;
}
.footer-bot-1-1>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-1>p{
    font-size: 16px;
    color: gray;
    line-height: 25px;
    margin-top: 36px;
}
.footer-bot-1-1>span{
    display: block;
    font-size: 16px;
    color: gray;
    line-height: 25px;
    margin-top: 26px;
}
.footer-bot-1-1>ul{
    width: 200px;
    height: 35px;
    margin-top: 15px;
}
.footer-bot-1-1>ul>a{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #99cc33;
}
.footer-bot-1-1>ul>a>img{
   width: 25px;
   height: 25px;
  margin-top: 5px;
  margin-left: 5px;
}
.footer-bot-1-2{
    width: 260px;
    height: 420px;
    float: left;
    margin-left: 40px;
}
.footer-bot-1-2>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-2>p{
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 30px;
}
.footer-bot-1-2>span{
    display: block;
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 30px;
}
.footer-bot-1-3{
    width: 260px;
    height: 420px;
    float: left;
   margin-left: 30px;
}
.footer-bot-1-3 img{
    width: 100%;
}
.footer-bot-1-3>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-3-1{
    width: 249px;
    height: 73px;
    margin-top: 30px;
}
.footer-bot-1-3-1>li{
    width: 73px;
    height: 73px;
    margin-right: 10px;
    background-color: pink;
    float: left;
}
.footer-bot-1-3-1>li:hover,.footer-bot-1-3-2>li:hover{
    background-color: black;
    opacity: 0.4;
}
.footer-bot-1-3-2{
    width: 249px;
    height: 73px;
    margin-top: 30px;
}
.footer-bot-1-3-2>li{
    width: 73px;
    height: 73px;
    margin-right: 10px;
    background-color: pink;
    float: left;
}
.footer-bot-1-4{
    width: 260px;
    height: 420px;
    float: left;
    margin-left: 40px;
}
.footer-bot-1-4>h1{
    margin-top: 84px;
    font-size: 23px;
    color: white;
}
.footer-bot-1-4>p{
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 30px;
}
.footer-bot-1-4 input:focus{/* input focus时边框 蓝色消失*/
    outline: none;
}
.footer-input{
    width: 253px;
    height: 37px;
   color: white;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    margin-top: 21px;
}
.footer-input1{
    width: 253px;
    height: 37px;
   color: white;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    margin-top: 15px;
}
.footer-bot-1-4>a{
    display: block;
    width: 105px;
    height: 30px;
    background-color: #98ca33;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-top: 15px;
}
.footer-bot-2{
    width: 1874px;
    height: 86px;
    background-color:#1d1d1d;
}
.footer-bot-2>span{
    width: 440px;
    height: 86px;
    float: left;
    height: 14px;
    line-height: 86px;
    text-align: center;
    color: gray;
    margin-left: 365px;
}
.footer-bot-2>span>mark{
    background-color:#1d1d1d;
    color: #98ca33;
}
.footer-bot-2-1{
    width: 400px;
    height: 86px;
    float: left;
    margin-left: 400px;
}
.footer-bot-2-1>p{
    float: left;
    font-size: 15px;
    line-height: 86px;
    text-align: center;
    margin-right: 11px;
    color: gray;
}
.footer-bot-2-2{
     width: 36px;
     font-size: 36px;
     float: left;
     margin-left: 200px;
}
.footer-bot-2-2>a{
    display: block;
    width: 36px;
    height: 36px;
    background-color:#98ca33;
    color: white;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    transform: rotate(-90deg);
    margin-top: 25px;
}

